body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica", "Georgia", sans-serif;
}

.container {
    width: 1000px;
    margin: 0px auto;
}

/* HEADER */

header {
    height: 63px;
    background-color: #323232;
}

header h1 {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu__item {
    margin: 26px 11px 0 13px;
    position: relative;
}
.menu__item::after {
    content: '.';
    display: block;
    color: #474c5f;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    left: 100%;
    top: 1px;
    margin-left: 11px;
}
.menu__item:nth-child(2)::after,
.menu__item:nth-child(5)::after  {
    display: none;
}
.menu__link {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__link:hover {
    color: #2eb398;
}

.active {
    color: #2eb398;
}

.logo {
    margin: 12px 26px 0;
    z-index: 3;
}

/* MAIN */

main {
    background-color: #ffffff;
}

/* HEADING */

.heading {
    display: flex;
    justify-content: center;
}

.line-left hr, 
.line-right hr {
    position: relative;
    top: 2px;
    left: 0px;
    width: 410px;
    border: 0.5px solid #e4e9eb;
}

.black-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 45px 0 45px;
    border-color: #323232 transparent transparent transparent;
    margin: 0 25px;
    padding-bottom: 63px;
}

/* HEXAGONS */

.hexagons {
    height: 545px;
}

.hexagon {
    width: 180px;
    height: 210px;
    margin: 0 10px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
    transition: transform 1s ease-in;
}

.hexagon:hover {
    transform: rotate(-240deg);
    transition: transform 1s ease-in;
}

.hex-layer-1 {
    width: 100%;
    height: 100%;
    visibility: hidden;
    transform: rotate(-60deg);
    overflow: hidden;
}

.hex-layer-2 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    background-repeat: no-repeat;
    background-position: 50%;
}

#hex1 {
    background-image: url('../img/portfolio-item7.png');
    background-position: -24px -10px;
}
#hex2 {
    background-image: url('../img/portfolio-item8.png');
}
#hex3 {
    background-image: url('../img/portfolio-item6.png');
}
#hex4 {
    background-image: url('../img/portfolio-item9.png');
    background-position: -21px -15px;
}
#hex5 {
    background-image: url('../img/portfolio-item12.png');
    background-position: -21px -10px
}
#hex6 {
    background-image: url('../img/portfolio-item13.png');
    background-position: -21px -13px;
}
#hex7 {
    background-image: url('../img/portfolio-item11.png');
}
#hex8 {
    background-image: url('../img/portfolio-item4.png');
}
#hex9 {
    background-image: url('../img/portfolio-item5.png');
    background-position: -23px -12px;
}
#hex10 {
    background-image: url('../img/portfolio-item2.png');
}
#hex11 {
    background-image: url('../img/portfolio-item1.png');
}
#hex12 {
    background-image: url('../img/portfolio-item10.png');
}
#hex13 {
    background-image: url('../img/portfolio-item3.png');
    background-position: -10px -5px;
}

.lineLeftTop {
    position: relative;
    top: -115px;
    right: 410px;
    width: 100px;
    border: 0.5px solid #e4e9eb;
    transform: rotate(90deg);
}

.lineRightTop {
    position: relative;
    top: -123px;
    right: -410px;
    width: 100px;
    border: 0.5px solid #e4e9eb;
    transform: rotate(90deg);
}

.lineLeftBottom {
    position: relative;
    top: -12px;
    right: 410px;
    width: 100px;
    border: 0.5px solid #e4e9eb;
    transform: rotate(90deg);
}

.lineRightBottom {
    position: relative;
    top: -23px;
    right: -410px;
    width: 100px;
    border: 0.5px solid #e4e9eb;
    transform: rotate(90deg);
}

.row-1 {
    display: flex;
    justify-content: center;
}

.row-2 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 320px;
}

.row-3 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
}

.main-slider {
    display: flex;
    flex-flow: column wrap;
    padding-top: 60px;
    padding-bottom: 6px;
}

.slider {
    align-self: flex-start;
    display: flex;
    padding-left: 20px;
  }

.slider-item {
    display: block;
    height: 5px;
    width: 6px;
    font-size: 1pt;
    background-color: rgb(221, 210, 198);
    margin-right: 3px;
    cursor: pointer;
}

.checked {
    background-color: rgb(139, 135, 132);
}

.slider-item:hover {
    background-color: rgb(139, 135, 132);
}

.bottomLine {
    position: relative;
    top: 2px;
    width: 965px;
    border: 0.5px solid #e4e9eb;
}

/* BLOG */

#blog {
    background: #2eb398;
    height: 341px;
}

.blog-wrapper {
    padding-top: 68px;
}

#hex14 {
    background-image: url('../img/man.png');
}

.man-img {
    margin-left: 110px;
}

.man-info {
    float: right;
    width: 580px;
    margin-top: -7px;
    margin-right: 111px;
}

.name {
    margin: 0px;
    font-family: 'Maven Pro';
    color: #d8fcf5;
    font-size: 29px;
    font-weight: 400;
}

.description {
    margin-top: -1px;
    font-family: 'Maven Pro';
    color: #20816d;
    font-size: 18px;
    font-weight: 400;
    word-spacing: -2px;
}

.text {
    font-family: 'Lato';
    color: #d7fcf5;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-align: justify;
    margin-top: -4px;
    word-spacing: -1px;
}

#sm-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 38px;
}

#fb-color,
.tt-color,
.gg-color,
.pi-color,
.ln-color,
.db-color {
    display: none;
}

#sm-btns a:hover img[id="fb-green"],
#sm-btns a:hover img[class="tt-green"],
#sm-btns a:hover img[class="gg-green"],
#sm-btns a:hover img[class="pi-green"],
#sm-btns a:hover img[class="ln-green"],
#sm-btns a:hover img[class="db-green"] {
    display: none;
}
#sm-btns a:hover img[id="fb-color"],
#sm-btns a:hover img[class="tt-color"],
#sm-btns a:hover img[class="gg-color"],
#sm-btns a:hover img[class="pi-color"],
#sm-btns a:hover img[class="ln-color"],
#sm-btns a:hover img[class="db-color"] {
    display: block;
}

.blog-lineLeft {
    position: relative;
    top: -120px;
    right: 410px;
    width: 315px;
    border: 0.5px solid #219d84;
    transform: rotate(90deg);
}

.blog-lineRight {
    position: relative;
    top: -129px;
    right: -411px;
    width: 315px;
    border: 0.5px solid #219d84;
    transform: rotate(90deg);
}

/* GET IN TOUCH */

#GetInTouch {
    background: #323232;
    height: 564px;
}

.get_in_touch {
    padding: 50px 0 38px 0;
    width: 100%;
    position: relative;
}

.feedBack {
    margin: 0 auto;
    position: relative;
    width: 780px;
    height: 100%;
}

.get_in_touch::before, .get_in_touch::after {
    content: "";
    position: absolute;
    left: 8%;
    width: 84%;
    height: 1px;
    background-color: rgba(0,0,0,.1);
}

.get_in_touch::before {
    top: 15px;
}

.get_in_touch::after {
    bottom: -15px;
}

.get_in_touch h2 {
    font-family: 'Maven Pro';
    color: #e0e0e0;
    font-size: 30px;
    font-weight: 400;
    line-height: 4.56px;
}

.get_in_touch h3 {
    font-family: 'Maven Pro';
    color: #bebebe;
    font-size: 18px; 
    font-weight: 400;
    line-height: 21.56px; 
    margin-top: -10px;
}

.get_in_touch input {
    display: block;
    width: 550px;
    height: 39px;
    margin: 0 0 15px;
    padding: 0 15px;
    background: #454545;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 21.56px;
    color: #bebebe;
}

#ta {
    display: block;
    width: 550px;
    height: 135px;
    margin: 0 0 16px;
    background: #454545;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 21.56px;
    color: #bebebe;
    padding: 8px 15px;
    line-height: 22px;
}

.div_submit {
    width: 580px;
    height: 37px;
}

.get_in_touch input[type="submit"] {
    background-color: #2eb398;
    width: 90px;
    height: 37px;
    text-align: center;
    font-family: 'Lato';
    color: #d7fcf5;
    font-size: 11px; 
    font-weight: 700;
    line-height: 21.56px; 
    float: right;
    text-transform: uppercase;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #d7fcf5;
    color: #2eb398;
}

.form_right_section {
    margin-top: -16px;
    float: right;
    width: 181px;
    font-family: 'Lato';
    color: #bebebe;
    font-size: 12px; 
    font-weight: 400;
    line-height: 21.56px; 
    text-align: justify; 
}

.info-bottom {
    margin-top: 36px;
}

.location,
.phone,
.email {
    margin: 0px;
}

.info-bottom a {
    color: #bebebe;
    text-decoration: none;
}

.location-img {
    position: relative;
    float: left;
    top: 4px;
    left: 3px;
    margin-right: 16px;
}

.phone-img {
    position: relative;
    float: left;
    top: 7px;
    margin-right: 12px;
}

.mail-img {
    position: relative;
    float: left;
    top: 6px;
    margin-right: 12px;
}

/* FOOTER */

#copyright {
    background: #222222;
    height: 43px;
}

.footer {
    font-family: 'Maven Pro';
    color: #454545;
    font-size: 12px;
    font-weight: 400; 
    line-height: 6.32px;
    margin: 0px;
    margin-left: 28px;
    padding-top: 18px;
    word-spacing: -1px;
}